<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Service</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize\css\materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection"/>
</head>

<body>
<h1>Apresentação do Projeto</h1>
<a href="/customerRegistration">Customer Registration</a>


<!--<div class="video-container">-->
<!--    <iframe width="853" height="480" src="https://www.youtube.com/embed/_y9OCAzcJVw" frameborder="0" allowfullscreen></iframe>-->
<!--</div>-->


<script type="text/javascript" src="materialize/js/materialize.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>